*.o
*.class
*.depends
*.bak
*.swp
*.jar
testsuite/arith
testsuite/calllib
testsuite/compare
testsuite/convert
testsuite/gauss
testsuite/intcopy
testsuite/lulesh
testsuite/mgbarsky
testsuite/mixed
testsuite/mixed.cfg
testsuite/modes
testsuite/packed
testsuite/powloop
testsuite/sanity
testsuite/results/
testsuite/tmp/
utils/dumpsyms/dumpsyms
utils/rfunc/rfunc
utils/rfunc/calllibm
utils/rfunc/mutant
i386-unknown-linux2.4/
x86_64-unknown-linux2.4/
processed_*.cpp
tags
env-setup.sh
